<h1 id="page_title">Stuff I've Written</h1>

		<div id="posts_wrapper" class="skinny_wrapper">
		<% @blogs.each do |blog| %>
			<div class="post">
				<p class="date">
					<%= blog.created_at.strftime('%A, %b %d') %>
				</p>
				<h2><%= link_to blog.title, blog %></h2>
				<hr>
			</div>
		<% end %>
		</div>

			<%= will_paginate @blogs %>