<div id="about_title">
	<h1>Hi, I'm Rahul Lakhaney</h1>
	<p>
		Entrepreneur // Dreamer // Doer
	</p>
</div>

<div class="about_wrapper wrapper_padding about_page">
			<h2>My current tools</h2>
			<hr>
			<ul>
				<li>Retina Macbook Pro 15”</li>
				<li>Apple Thunderbolt Display</li>
				<li>MacVim, iTerm, Sequel Pro</li>
				<li>Ruby on Rails, Python, Swift, Javascript, Nodejs, jQuery and React</li>
				<li>MySQL, PostgreSQL, and Redis</li>
				<li>OS X and Ubuntu Server</li>
			</ul>
			<div class="nothing_to_write">
				<p>Nothing more to write here, <a href="http://www.codebrew.io/developer">check out my slightly better detailed about me here</a></p>
			</div>
</div>

