<div id="upper_banner" class="hi">
	<h2>Hey, I'm Rahul Lakhaney</h2>
	<p>I spend my time designing stuff, coding stuff, and making videos teaching what I am learning.</p>
	
	</div>
	<div class="wrapper wrapper_padding clearfix">
		<div class="col-1 about home_page_content">
			<h2>About</h2>
			<hr>
			<p>
				Fashion axe heirloom <a href="#">fingerstache Helvetica</a> Etsy Thundercats. Art party flexitarian typewriter</p>
			<p>
			PBR&B <a href="#">bespoke</a> craft beer meditation post-ironic. Next level Pitchfork banjo ugh, sartorial <a href="#">Wes</a> Anderson keytar cornhole irony keffiyeh artisan taxidermy Odd Future. Plaid typewriter YOLO XOXO 
			</p>
		</div>

		<div class="col-2 home_page_content">
			<h2>Stuff I've Written</h2>
			<hr>
			<h3><a href="#">Hello World!</a></h3>
			<p class="date">Friday September 10th</p>
			<h3><a href="#">Fundamentals of Ruby on Rails</a></h3>
			<p class="date">Friday September 10th</p>
			<h3><a href="#">No Bullshit Guide to Coding</a></h3>
			<p class="date">Friday September 10th</p>
			<h5>View all Articles <i class="fa fa-angle-double-right"></i></h5>
		</div>

		<div class="col-3 home_page_content">
			<h2>Stuff I've Built</h2>
			<hr>
			<h3><a href="#">Codebrew</a></h3>
			<p class="date">Friday September 10th</p>
			<h3><a href="#">Panoramia Films</a></h3>
			<p class="date">Friday September 10th</p>
			<h3><a href="#">TEN Apps Challenge</a></h3>
			<p class="date">Friday September 10th</p>
			<h5>View all Projects <i class="fa fa-angle-double-right"></i></h5>
		</div>
	</div>